@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
    background: #111;
    color: #f1f1f1;
    font-family: "Segoe UI", Roboto, "Helvetica Neue";
}

.app {
    background: #212121;
}

h1, h2, h3, h4 {
    font-family: Roboto;
    background: #333;
    text-indent: .4em;
}

ul {
    padding: 0;
    margin: 0;
    border: 2px solid #333;
}

li {
    padding: .4em;
    
    &:not(:last-child) {
        
        border-bottom: 2px solid #333;
    }
    
    &:hover {
        background: #333;
    }
}

input[type="text"] {
    background: transparent;
    border: 2px solid #333;
    color: inherit;
}

button {
    background: #333;
    border: none;
    color: inherit;
}

